<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<div class="user-photo-small" style="background-image:url({{userPhoto}})"></div>
			<span>{{userName}}</span>
		</div>
		<div class="col-md-10">
			<p>{{body}}</p>
			{{#if images.length}}
				{{#each images}}
					<a href="{{this}}" class="message-image" style="background-image:url({{this}})"></a>
				{{/each}}
			{{/if}}
		</div>
	</div>
</div>
