<div class="container-fluid">
<div class="row">
	<div class="col-md-12">
		<ul id="message-list"></ul>
	</div>
</div>
<div id="new-message" class="row">
	<div class="col-md-10">
	 	<input id="new-message-input" class="form-control" type="text" placeholder="Type your message here...">
	</div>
	<div class="col-md-2">
  		<button id="new-message-button" class="btn btn-default" type="submit">Send</button>
  	</div>
</div>


