<div class="row settings">
	<div class="col-md-6">
		<div class="user-photo-big" style="background-image: url({{photo}})"></div>
	</div>
	<div class="col-md-6">
		<div class="row">
			<label>User Name</label>
			<input class="form-control" id="user-name-input" value="{{name}}" type="text" placeholder="NickName">
		</div>
		<div class="row">
			<label>User Photo</label>
			<input class="form-control" id="user-photo-input" value="{{photo}}" type="text" placeholder="Photo Link">
		</div>
		<div class="row">
			<a href="/#/messenger">Go back to the chat</a>
		</div>
	</div>
</div>
