$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap.scss';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header {
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    border-bottom: 1px solid #e5e5e5;
}

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

#main {
  float: left;
  width: 100%;
}

#message-list {
  padding: 0;
  height: calc(100vh - 175px);
  overflow: auto;

  li {
    list-style-type: none;
    width: 100%;
    min-height: 70px;
    display: block;
    float: left;

    .user-photo-small {
      width: 48px;
      height: 48px;
      background-position: center top;
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      float: left;
      border-radius: 50%;
      background-color: #ccc;
      text-align: center;
    }

    .message-image {
      width: 100px;
      height: 100px;
      background-position: center top;
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      float: left;
    }

    span {
      display: block;
      float: left;
      width: 100%;
    }
  }
}

#conversation {
  float: left;
  width: 70%;
}

.settings {

  label, a {
    display: block;
    float: left;
    margin: 10px 0;
  }

  .user-photo-big {
    width: 180px;
    height: 180px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    float: left;
    background-color: #ccc;
    border-radius: 50%;
  }
}
